@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}
.main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
    display: flex;
    background-position: center;
    background-size: cover;
    position: relative;
} 
.fahaddexprofile{
    width: 90%;
    max-width: 320px;
    background: linear-gradient(0deg, rgba(50,255,0,1) 0%, rgba(0,213,255,1) 100%);
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    align-items: center; 
    margin: auto;
} 
.userimage{
    width: 120px;
    border-radius: 50%;
}
.fa-brands{
    color: black;
    padding: 20px 10px;
    transition: transform .2s;
}
.fa-solid{
    color: black;
    padding: 20px 10px;
    transition: transform .2s;
}
.fa-brands:hover{
    transform: scale(1.5);
}
.fa-solid:hover{
    transform: scale(1.5);
}
